input{
    height: 30px;
    width: 300px;
    margin-bottom: 15px;
    color: black;
}
textarea{
    color: black;
    width: 300px;
    margin-bottom: 15px;
}

input[type="submit"]{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}