@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

small{
    color: green;
}